* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
	display: flex;
	align-items: center;
	background-color: #000;
	min-height: 100vh;
}

.container {
	margin: 50px auto;
	height: 30rem;
	width: 30rem;
	border-radius: 50%;
	padding: 2rem;
	border: 15px solid #fff;
}

.clock {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px);
}

.hand {
	position: absolute;
	top: 50%;
	transform-origin: 99%;
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
	width: 50%;
	height: 10px;
	background-color: #F90093;
}
